/* Body and structure
-------------------------------------------------- */
body {
	position: relative;
	padding-top: 40px;
}

/* Code in headings */
h3 code {
	font-size: 14px;
	font-weight: normal;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
body>.navbar {
	font-size: 13px;
}

body>.navbar .navbar-brand {
	color: #999999;
	float: left;
	font-weight: 200;
	margin-left: 0px;
	padding: 10px 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px
		rgba(255, 255, 255, 0.125);
	transition: all 0.2s linear 0s;
	line-height: 32px;
}

body>.navbar .navbar-brand img {
	margin-right: 10px;
}

body>.navbar li {
	font-size: 16px;
	line-height: 32px;
}

body>.navbar .brand:hover {
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px
		rgba(255, 255, 255, .4);
}

.nav .caret {
    border-bottom-color: #999999;
    border-top-color: #999999;
}

.nav a:hover .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
	position: relative;
	padding: 40px 0;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
	background: #020031; /* Old browsers */
	background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #020031),
		color-stop(100%, #6d3353)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #020031 0%, #6d3353 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #020031 0%, #6d3353 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #020031 0%, #6d3353 100%);
	/* IE10+ */
	background: linear-gradient(45deg, #020031 0%, #6d3353 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#020031',
		endColorstr='#6d3353', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px
		rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px
		rgba(0, 0, 0, .2);
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px
		rgba(0, 0, 0, .2);
}

.jumbotron h1 {
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}

.jumbotron p {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
	color: #fff;
	color: rgba(255, 255, 255, .5);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.jumbotron a:hover {
	color: #fff;
	text-shadow: 0 0 10px rgba(255, 255, 255, .25);
}

/* Pattern overlay
------------------------- */
.jumbotron .container {
	position: relative;
	z-index: 2;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and (
		min--moz-device-pixel-ratio: 2) , only screen and (
	-o-min-device-pixel-ratio: 2/1) {
	.jumbotron:after {
		background-size: 150px 150px;
	}
}

.jumbotron:after {
	background: url("../img/Front.jpeg") repeat scroll left center
		transparent;
	opacity: 0.75;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

/* Masthead (docs home)
------------------------- */
.masthead {
	padding: 70px 0 80px;
	margin-bottom: 0;
	color: #fff;
}

.masthead h1 {
	font-size: 80px;
	line-height: 1;
	letter-spacing: -2px;
}

.masthead p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
	margin: 0;
	list-style: none;
}

.masthead-links li {
	display: inline;
	padding: 0 10px;
	color: rgba(255, 255, 255, .25);
}

/* Subhead (other pages)
------------------------- */
.subhead {
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.subhead h1 {
	font-size: 60px;
}

.subhead p {
	margin-bottom: 20px;
}

.subhead .navbar {
	display: none;
}

.footer {
	margin-top: 0;
	background-color: #D0D0D0;
	border-top: 1px solid #C0C0C0;
	padding: 10px 0;
	text-align: right;
}

.footer-links {
	margin: 0;
}

.thumbnail {
	margin-bottom: 20px;	
}
