    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>Copyright&copy; 2000-2014 FreeHEP, <a href="mailto:Mark.Donszelmann@gmail.com">Mark D&ouml;nszelmann</a></p>
        <ul class="footer-links">
          <li><a href="http://java.freehep.org">FreeHEP</a></li>
          <li class="muted">&middot;</li>
          <li><a href="http://freehep.github.io/freehep-vectorgraphics">Vector Graphics</a></li>
        </ul>
      </div>
    </footer>
