<!-- Navbar
================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ page.dir }}/index.html">
<!--
          <img src="{{ page.dir }}/img/favicon.png">
-->
      FreeHEP - Vector Graphics</a>

      <div class="collapse navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            General <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ page.dir }}/index.html">Introduction</a></li>
              <li><a href="{{ page.dir }}/News.html">News</a></li>
              <li><a href="{{ page.dir }}/Features.html">Features</a></li>
<!--
              <li><a href="{{ page.dir }}/Demonstrations.html">Demonstrations</a></li>
              <li><a href="{{ page.dir }}/ScreenShots.html">Screen Shots</a></li>
-->
              <li><a href="{{ page.dir }}/Publications.html">Publications/Talks</a></li>
              <li><a href="{{ page.dir }}/Users.html">Users</a></li>
              <li><a href="{{ page.dir }}/License.html">License</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            User <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ page.dir }}/Manual.html">Manual</a></li>
              <li><a href="{{ page.dir }}/FAQ.html">FAQ</a></li>
              <li><a href="https://github.com/freehep/freehep-vectorgraphics/releases" target="_blank">Download<span class="glyphicon glyphicon-new-window pull-right"></span></a></li>
<!--
                <li><a href="{{ page.dir }}/ReleaseNotes.html">Release Notes</a></li>
-->
              <li><a href="https://github.com/freehep/freehep-vectorgraphics/issues?state=open" target="_blank">Issues<span class="glyphicon glyphicon-new-window pull-right"></span></a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Developer <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://freehep.github.io/freehep-vectorgraphics/apidocs" target="_blank">API doc<span class="glyphicon glyphicon-new-window pull-right"></span></a></li>
              <li><a href="https://github.com/freehep/freehep-vectorgraphics" target="_blank">Source Code<span class="glyphicon glyphicon-new-window pull-right"></span></a></li>
              <li><a href="https://buildhive.cloudbees.com/job/freehep/job/freehep-vectorgraphics/" target="_blank">Cont. Integr.<span class="glyphicon glyphicon-new-window pull-right"></span></a></li>
              <li><a href="https://buildhive.cloudbees.com/job/freehep/job/freehep-vectorgraphics/" target="_blank"><img src="https://buildhive.cloudbees.com/job/freehep/job/freehep-vectorgraphics/badge/icon"></img></a></li>
              <li><a href="http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.freehep%22%20AND%20a%3A%22freehep-vectorgraphics%22" target="_blank">Maven Repo<span class="glyphicon glyphicon-new-window pull-right"></span></a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Tests <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://java.freehep.org/vectorgraphics/freehep-graphicsio-tests/test-output/Linux/JDK-1.6/png/TestAll.html" target="_blank">Linux<span class="glyphicon glyphicon-new-window pull-right"></span></a></li>
              <li><a href="http://java.freehep.org/vectorgraphics/freehep-graphicsio-tests/test-output/MacOSX/JDK-1.5/png/TestAll.html">MacOS<span class="glyphicon glyphicon-new-window pull-right"></span></a></li>
              <li><a href="http://java.freehep.org/vectorgraphics/freehep-graphicsio-tests/test-output/Windows/JDK-1.6/png/TestAll.html" target="_blank">Windows<span class="glyphicon glyphicon-new-window pull-right"></span></a></li>
            </ul>
          </li>

        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><a href="http://java.freehep.org" target="_blank">FreeHEP</a></li>
          <li><a href="http://jas.freehep.org" target="_blank">JAS</a></li>
          <li><a href="http://wired.freehep.org" target="_blank">WIRED</a></li>
        </ul>
      </div>
    </div>
</div>
